body {

	background-color: #171919;
	margin: 0px;
	padding: 0px;

}



header{ 
	background-color: #ffffff; 
    height: 60px;
}


footer {
    
  	background-color: #eb5f2e;
	bottom:0;
	width:100%;
	padding-top:50px;
    text-align: left;

  	
}
 
 .centre_image{
 	display: flex;
    justify-content: center;
 }


.logo{

height: 50px;
padding-left:  15px;
padding-top: 20px;


}

.logo-footer {
height: 45px;
}


  
.cocote{

	height: 300px;
}

.section1{

	background-color: #282829;
	height: 200px;
	color: #ffffff;
	font-size: 1.4em;
	text-align: center;
	padding-top: 50px;
	margin-top: 50px;
}

.centrage{

	display: flex;
	justify-content: center;
}
.section2{

	background-color: #282829;
	height: 200px;
	margin-top: 50px;


}

.image{

	margin-top: 50px;
	height: 300px;
}

.image1{
	background-image: url(rbpi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.image2{
	background-image: url(rbpi.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

