<!DOCTYPE html>
<html lang="fr">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="app/views/assets/img/logo-08.svg" />
<link rel="stylesheet" type="text/css" href="app/views/assets/vendor/css/bootstrap.min.css" /> 
<link rel="stylesheet" type="text/css" href="app/views/assets/vendor/css/bootstrap-theme.min.css" /> 
<link rel="stylesheet" type="text/css" href="app/views/assets/css/hackathon.css" />
<link rel="stylesheet" type="text/css" href="app/views/assets/css/jquery.fullpage.min.css" />
<link rel="stylesheet" type="text/css" href="app/views/assets/css/font-awesome.min.css" />
<title>Vygie</title>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img class="logo" src="app/views/assets/img/logo-10.svg"></a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#equipe">Equipe</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
  <div class="text-center block-content col-md-12">
    <div class="col-md-6">
      <img class="img-responsive" src="app/views/assets/img/logo-08.svg" alt="logo Vygie" width=600>
    </div>
    <div class="col-md-6">
      <p class="text-center descript-content">Vygie est une application/bouton, connectée permettant aux enseignants de signaler un début d'infection <br />(poux, varicelle, gastro...).</p>
    </div>
  </div>


  <div id="wireframing">
  <div><h2 id="concept" class="text-center">Le Concept</h2></div>
    <div class="col-md-4 col-xs-12 col-sm-12 col-md-offset-1">
      <img class="img-responsive" src="app/views/assets/img/w1.jpg" alt="w1">
    </div>
    <div class="col-md-offset-2 col-sm-12 col-md-4 col-xs-12 ">
      <img class="img-responsive" src="app/views/assets/img/w2.jpg" alt="w2">
    </div>
  </div>
  <!-------------------- EQUIPE -------------------->
  <div id="equipe" class="equipe">
  <div><h2 id="equipe-tittle" class="text-center">L'équipe</h2></div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/05.jpg" alt="Houda">
        <div class="overlay">
          <h2>Houda</h2>
          <a class="info" href="https://twitter.com/Houda_Da25" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/02.jpg" alt="Léo Grand">
        <div class="overlay">
          <h2>Léo Grand</h2>
          <a class="info" href="https://twitter.com/MUCHZER" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>

        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/10.jpg" alt="Anthony Cornu">
        <div class="overlay">
          <h2>Anthony Cornu</h2>
          <a class="info" href="https://twitter.com/anthony_molson" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/01.jpg" alt="Christophe Boutet">
        <div class="overlay">
          <h2>Christophe Boutet</h2>
          <a class="info" href="https://twitter.com/cboutet" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/04.jpg" alt="Mohamed Azerkan">
        <div class="overlay">
          <h2>Mohamed Azerkane</h2>
          <a class="info" href="https://twitter.com/ebawan123" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/03.jpg" alt="Stéphane">
        <div class="overlay">
          <h2>Stéphane</h2>
          <a class="info" href="https://twitter.com/PaillardS" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/06.jpg" alt="Viktor">
        <div class="overlay">
          <h2>Viktor</h2>
          <a class="info" href="https://twitter.com/viktorvuka" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/08.jpg" alt="Alexandre">
        <div class="overlay">
          <h2>Alexandre Fleury</h2>
          <a class="info" href="https://twitter.com/retroschlampe" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/09.jpg" alt="Ali">
        <div class="overlay">
          <h2>Ali</h2>
          <a class="info" href="https://twitter.com/Okami_Mamoru" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/11.jpg" alt="Olivier Blondeau">
        <div class="overlay">
          <h2>Olivier Blondeau</h2>
          <a class="info" href="https://twitter.com/oliblondeau" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/12.jpg" alt="Michel Chevassu">
        <div class="overlay">
          <h2>Michel Chevassu</h2>
          <a class="info" href="https://twitter.com/michelc23" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/13.jpg" alt="Marie">
        <div class="overlay">
          <h2>Marie Barbati</h2>
          <a class="info" href="https://twitter.com/Marie_Barbati" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 .col-equipe">
      <div class="hovereffect">
        <img class="img-responsive" src="app/views/assets/img/equipe/14.jpg" alt="Mouhammad">
        <div class="overlay">
          <h2>Mouhammad Dahalani</h2>
          <a class="info" href="https://twitter.com/KemiilBlacKs" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-------------------- PARTENAIRE -------------------->
  <div id="partenaire" class="col-md-12">
   <section class="section" id="section6">
             <div class="block-content">
                 <h1 class="text-center">Partenaires</h1>
   
                 <div class="row">
                     <h2 class="text-center">Organisé par</h2>
                     <div class="col-xs-6 col-md-3 col-md-offset-3">
                         <a class="thumbnail" href="http://www.accesscodeschool.fr/" target="_blank">
                             <img class="img-responsive" width="185" src="app/views/assets/img/logo_ACS_menu.png" alt="Logo AccessCodeSchool">
                         </a>
                     </div>
                     <div class="col-xs-6 col-md-3">
                         <a class="thumbnail" href="http://www.onlineformapro.com/" target="_blank">
                             <img class="img-responsive" width="185" src="app/views/assets/img/online.png" alt="Logo Onlineformapro">
                         </a>
                     </div>
                 </div>
   
                 <div class="row">
                     <h2 class="text-center">En partenariat avec</h2>
   
                     <div class="col-xs-6 col-md-3 col-md-offset-1">
                         <a class="thumbnail" href="https://www.siliconcomte.fr" target="_blank">
                             <img class="img-responsive" width="185" src="app/views/assets/img/SiliconComte.png" alt="Logo SiliconComté">
                         </a>
                     </div>
   
                     <div class="col-xs-6 col-md-4">
                         <a class="thumbnail" href="http://www.grandbesancon.fr" target="_blank">
                             <img class="img-responsive" width="185" src="app/views/assets/img/grandb.jpg" alt="Logo Grand Besançon">
                         </a>
                     </div>
   
                     <div class="col-xs-6 col-md-3">
                         <a class="thumbnail" href="http://www.sequanux.org/" target="_blank">
                             <img class="img-responsive" width="185" src="app/views/assets/img/logo_sqx_coul_vecto1.png" alt="Logo Sequanux">
                         </a>
                     </div>
                 </div>
   
                 <div class="row">
                     <div class="col-xs-6 col-md-2 col-md-offset-3">
                         <a class="thumbnail">
                             <img class="img-responsive" width="90"  src="app/views/assets/img/gedn.jpg" alt="Logo Grand Ecole du Numerique">
                         </a>
                     </div>
                 <div class="row">
                     <div class="col-xs-6 col-md-2 col">
                         <a class="thumbnail"  href="http://montreurs-passeurs.fr" >
                             <img class="img-responsive" width="" src="app/views/assets/img/MP.gif" alt="montreurs-passeurs">
                         </a>
                     </div>
   
                     <div class="col-xs-6 col-md-2">
                         <a class="thumbnail" href="http://www.lafrenchtech.com/" target="_blank">
                             <img class="img-responsive" width="60"  src="app/views/assets/img/frenchtech.png" alt="Logo FrenchTech">
                         </a>
                     </div>
                 </div>
             </div>
         </div>
     </section>
  </div>


</div>
</div>
  <!-------------------- FOOTER -------------------->
<div id="footer">
  <nav class="navbar navbar-default color-footer ">
    <div class="container-fluid color-footer">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://twitter.com/vygie_app" target="_blanc"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/vygieapp/" target="_blanc"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </nav>
</div>

<script src="app/views/assets/vendor/js/jquery-3.1.0.min.js"></script>
<script src="app/views/assets/vendor/js/bootstrap.min.js"></script>


</body>
</html>
